params {
    // Default values for the parameters (can be overridden by the user)
    input = null
    outputDir = null
    year = null
    minDuration = null
}

process{
    // container = 'python:3.10-slim'
    container = 'nextflow/bash:latest'
}

docker {
    enabled = true
    runOptions = '--user root'
}
