params {
    // Default values for the parameters (can be overridden by the user)
    input = null
    output = null
    year = null
    min_duration_per_project = null
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)' // Ensures files created by the container are owned by the host user
}
